/* Base style reset */

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

/* Base styles */

body {
  background: #fff;
  color: #222;
  font-size: 14px;
}

/* Navbar styling */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding: 6px;
}

.navbar ul {
  display: flex;
}

.nav-wrap {
  flex-wrap: wrap;
}

.left-nav {
  display: inline-block;
  padding: 0px 5px;
  margin: 0 5px;
}

.right-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.navbar li {
  padding: 0px 10px;
}

/* Main elements styling */

.main-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#main-image {
  padding-top: 258px;
}

.search-query {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  height: 44px;
  width: 90%;
  max-width: 584px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.search-query:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-box {
  border: none;
  box-shadow: none;
  width: 90%;
  margin-left: 5px;
  font-size: 16;
  background: #fff;
}

.search-box:focus {
  outline: none;
}

.search-image {
  width: 20px;
  height: 20px;
}