/* Base style reset */

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Base styles */

body {
  background: #fff;
  color: #222;
  font-size: 14px;
}

/* Navbar styling */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding: 6px;
}

.navbar ul {
  display: flex;
}

.nav-wrap {
  flex-wrap: wrap;
}

.left-nav {
  display: inline-block;
  padding: 0px 5px;
  margin: 0 5px;
}

.right-nav {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-right: 15px;
}

.navbar li {
  padding: 0px 10px;
}

.right-nav li {
  padding: 0px;
  margin: 0 5px;
}

.right-nav-2 {
  padding: 0px 4px;
}

/* Grid icon style */

.grid-icon-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.grid-icon-contain:hover {
  background: rgba(60,64,67,0.1);
}

.grid-icon {
  display: grid;
  grid-template-columns: repeat(3, 4px);
  grid-template-rows: repeat(3, 4px);
  grid-gap: 2px;
}

.grid-item {
  background: #5f6368;
  border-radius: 50%;
}

/* Profile icon style */

.profile-icon {
  max-width: 32px;
  border-radius: 50%;
  visibility: visible;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0,0,0,.15);
  height: 32px;
  width: 32px;
  visibility: hidden;
}

.profile-container:hover {
  visibility: visible;
}

/* Main elements styling */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.main-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#main-image {
  padding-top: 258px;
}

.search-query {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  height: 44px;
  width: 90%;
  max-width: 584px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.search-query:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-box {
  border: none;
  box-shadow: none;
  width: 90%;
  margin-left: 5px;
  font-size: 16;
  background: #fff;
}

.search-box:focus {
  outline: none;
}

.search-image {
  width: 20px;
  height: 20px;
}

/* Main elements - Buttons styling */

.search-buttons {
  max-width: 320px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.btn-main {
  height: 36px;
  width: 100%;
  min-width: 54px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 6px; 
  font-size: 14px;
  visibility: visible;
}

.btn-main:focus {
  outline-color: rgba(0,0,0,.15);
}

.btn-main-border {
  height: 36px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.15);
  visibility: hidden;
}

.btn-main-border:hover {
  visibility: visible;
}

/* Footer styling */

#footer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,.15);
}

#footer-one {
  font-size: 15px;
  color: rgba(0,0,0,.54);
  margin-bottom: 1px;
  background: #f2f2f2;
  padding: 15px 30px;
}

#footer-two { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  color: #70757a;
  padding: 0px 20px;
  font-size: 14px;
  min-height: 47px;
}

#footer-two ul > li {
  padding: 0px 15px;
}

#footer-two a {
  color: #70757a;
}

#footer-two a:hover {
  text-decoration: underline;
}

#footer-start {
  display: flex;
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
}

#footer-middle {
  display: flex;
  order: 2;
}

#footer-middle img {
  height: 14px;
  margin-right: 6px;
}

#footer-end {
  display: flex;
  justify-content: flex-end;
  order: 3;
  min-width: 30%;
}

.settings-menu-outer {
  position: fixed;
  bottom: 30px;
  height: 20px;
  width: 50px;
  background: rgba(0,0,0,0);
}

.settings-menu-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  right: 25px;
  bottom: 45px;
  background: white;
  border-style: solid;
  border-color: rgba(32,33,36,.75);
  border-width: 1px;
}

.settings-menu-list li {
  margin: 15px 2px;
}

.settings-menu:hover .settings-menu-list {
  visibility: visible;
}

@media screen and (max-width: 900px) {
  #footer-two {
    flex-direction: column;
  }

  #footer-start, #footer-middle, #footer-end {
    justify-content: center;
    padding: 15px 0px;
  }

  #footer-start {
    order: 2;
  }

  #footer-middle {
    order: 1;
  }

  #footer-end {
    order: 3;
  }
}
